body {
    background: linear-gradient(#204a8a,#357fa1);
    background-attachment: fixed;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.container div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}

#liveMap {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: auto;
} 

#savedMapImage {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: auto;
}

#shuffledPuzzle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 408px;
    height: 408px;
    border: 1px solid black;
    margin: auto;
}

#finishedPuzzle {
    width: 408px;
    height: 408px;
    border: 1px solid black;
    margin: auto;
    line-height:0px;
    padding: 0;
}

#shuffledPuzzleDiv {
    line-height:0px;
}

#shuffledPuzzle {
    padding: 0;
}

.puzzlePiece {
    border: 1px solid black;
}

.blank {
    border: 1px solid black;
}